body {
  background: linear-gradient(to right, #969599 0%,#969599 66.66%,#969599 66.66%,#77797c 33.33%,#77797c 66.66%);
}


#bannertext {
  /*font-size: 20px;*/
  /*margin-left: 15%;*/
  /*margin-top: 12%;*/
  display: none;
}

#banner {
  position:relative;
  width: 70%;
  top: 15%;
  left: 3%;
}

#hirebtn {
  position: absolute;
  top: 67%;
  left: 12%;
  color: #221daf;
  border-style:solid;
  border-color:  white;
  font-family: monospace;
  font-style:oblique;
  border-radius: 7px;
  /*background-color: green;*/
  padding: .5em;


}

#github {
  position:absolute;
  top: 20%;
  width:62%;
  height: 500px;
  overflow-x:auto;
}

#git {
  position: relative;
  width:60%;
  height:80px;
  top:2%;
  left: 15%;
}

#gitdesc {
  position:absolute;
  top:20%;
}

#gittxt {
  font-family: monospace;
  font-size: 1.5em;
}

#dmu {
  position: absolute;
  width:90%;
  top:50%;
  left: 5%;
}

#wp {
  position: absolute;
  width:90%;
  top:100%;
  left:5%;
}

#wptablet {
  position: absolute;
  top:110%;
}

#wptxt {
  font-family: monospace;
  font-size: 1.5em;
}

#gitdesktop {
  display: none;
}

#dmudesktop {
  display: none;
}

#wordpressmaintxt {
  display: none;
}

#degree {
  position:absolute;
  top:70%;
}
/*#menuburger {
  position: absolute;
  left:280px;
  width:100px;
  height:100px;
  padding: none;
}*/

#logo {
  position:absolute;
  width:15%;
  height:70px;
  left: 25%;
  top: 4%;
}

#menu {
  display: block;
  color: white;
  text-align: right;
  margin-right:5%;
}

nav {
  display: none;
  position:absolute;
  left: 60%;
}

nav a {
  display: block;
  color: white;
  padding:1em;
}

.show-menu {
  display: block;
}

li {
  display: block;
}

a {
  padding: 1em;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

#portrait {
  position: absolute;
  width:35%;
  height:25%;
  left:15%;
  top: 20%;
}

#maintext {
  position:absolute;
  width: 45%;
  height:35%;
  top:50%;
  left: 10%;
  overflow-y: auto;

}

#statement {
  display: none;
}

p {
  font-family: sans-serif;
}

#img1 {
  position: absolute;
  width: 23%;
  height: 100px;
  left: 71%;
  top: 40%;
}

#img2 {
  position: absolute;
  width: 23%;
  height: 100px;
  left: 71%;
  top: 60%;
}

#img3 {
  position: absolute;
  width: 23%;
  height: 100px;
  left: 71%;
  top: 80%;
}

#insta {
  position: absolute;
  width: 10%;
  height: 8%;
  left: 22%;
  top: 85%;
}

#facebook {
  position: absolute;
  width: 8%;
  height: 6%;
  left: 35%;
  top: 86%;
}

#intro {
  font-size: 1.2em;
  font-family: monospace;
  color: black;
}

#typewriterid {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60%;
}

.typewriter #typewritertext {
  color: #221daf;
  font-size: 1em;
  font-family: monospace;
  overflow:hidden;
  border-right: .15em solid orange;
  white-space:nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% { border-color: orange}

}

#gitmain {
display: none;
}

#gitaccount {
  display: none;
}

#dmumain {
  display: none;
}

#dmulink {
  display: none;
}

#wordpress {
  display: none;
}


@media screen and (min-width: 800px){

  body {
    overflow-y: hidden;
  }

  #typewritertext{
    display: none;
  }

  #hirebtn {
    display: none;
  }

  #intro {
    display: none;
  }

  #statement {
    display: block;
  }

  #bannertext {
    font-size: 60px;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: monospace;
    display:inline;
    text-transform: uppercase;
    /*text-rendering: optimizeLegibility;*/

  }

  .retroshadow {
    color: #2c2c2c;
        letter-spacing: .05em;
        text-shadow:
          4px 4px 0px #d5d5d5,
          7px 7px 0px rgba(0, 0, 0, 0.2);
    }


  #banner {
    position:absolute;
    width: 70%;
    top:5%;
    left: 15%;
  }

  #menu {
    display: none;
  }

  #maintext {
    position:absolute;
    width: 22%;
    height:30px;
    left:3%;
    /*border: 3px solid white;*/

  }

  /*nav {
    display: inline-block;
    text-align: center;
    float: right;
    margin-top: 3em;
    /*margin-right: 3em;
  }*/

  #nav-menu {
    display: inline-block;
    margin-left: 4em;
    margin-top: 2em;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 1em;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
  }

  #img1 {
    width:30%;
    height:39%;
    position: absolute;
    left: 1.7%;
    top: 21%;
  }

  #img2 {
    width:30%;
    height:78%;
    position: absolute;
    left: 33%;
    top: 21%;
  }

  #img3 {
    width:30%;
    height:37%;
    position:absolute;
    top: 62%;
    left: 1.7%;
  }

  #portrait {
    position: absolute;
    width: 23%;
    height: 50%;
    left: 72%;
    bottom: 20%;
  }

  #logo {
    width:8%;
    height:14%;
    position: absolute;
    top: 4%;
    left: 2%;
  }

  #insta {
    width: 5%;
    height: 9%;
    position: absolute;
    left: 55%;
    top: 6%;
  }

  #facebook {
    position:absolute;
    left: 60%;
    top: 7.5%;
    width: 3%;
    height: 6%;
  }



  #maintext {
    position: absolute;
    left:750px;
    top:550px;
    height:200px;
  }

  p {
    color: white;
    font-family: sans-serif;
  }

  #gitdesktop {
    display:block;
    width:20%;
    height: 210px;
    margin-top:12%;
    margin-left: 2%;
  }

  #dmudesktop {
    display:block;
    position: absolute;
    left:23%;
    bottom:53%;
    width:20%;
    height:210px;
  }

  #wordpress {
    display: block;
    position: absolute;
    width: 20%;
    height: 210px;
    left: 43.5%;
    bottom: 53%;
  }

  #github {
    display: none;
  }

  #gitmain {
    display: block;
    position:absolute;
    width:19%;
    left:2.5%;
  }

  #gitaccount {
    display: block;
    position: absolute;
    left:-8%;
    text-decoration: underline;
  }

  #dmumain {
    display: block;
    position: absolute;
    width:19%;
    left: 23%;
  }

  #dmulink {
    display: block;
    position: absolute;
    text-decoration: underline;
    left: -8%;
  }

  #wordpresstxt {
    display: block;
    position: absolute;
    width:19%;
    left: 44%;
  }

}






@media screen and (min-width: 1100px){

body {
  overflow-y: hidden;
}

#typewritertext{
  display: none;
}

#hirebtn {
  display: none;
}

#intro {
  display: none;
}

#statement {
  display: block;
  position: absolute;
  width:85%;
  left: 12%;
  bottom: 10%;
}

#bannertext {
  font-size: 70px;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: monospace;
  display:inline;
  text-transform: uppercase;
  /*text-rendering: optimizeLegibility;*/

}

.retroshadow {
  color: #2c2c2c;
      letter-spacing: .05em;
      text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
  }


#banner {
  position:absolute;
  width: 70%;
  top:5%;
  left: 20%;
}

#menu {
  display: none;
}

#maintext {
  position:absolute;
  width: 25%;
  height:200px;
  left:70%;
  top:75%;


}

/*nav {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 3em;
  /*margin-right: 3em;
}*/

#nav-menu {
  display: inline-block;
  margin-left: 12em;
  margin-top: 3em;
  z-index:100;
}

li {
  display: inline-block;
}

a {
  padding: 1em;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

#img1 {
  width:30%;
  height:39%;
  position: absolute;
  left: 1.7%;
  top: 21%;
}

#img2 {
  width:30%;
  height:78%;
  position: absolute;
  left: 33%;
  top: 21%;
}

#img3 {
  width:30%;
  height:37%;
  position:absolute;
  top: 62%;
  left: 1.7%;
}

#portrait {
  position: absolute;
  width: 23%;
  height: 50%;
  left: 72%;
  bottom: 20%;
}

#logo {
  width:8%;
  height:14%;
  position: absolute;
  top: 4%;
  left: 2%;
}

#insta {
  width: 5%;
  height: 9%;
  position: absolute;
  left: 55%;
  top: 6%;
}

#facebook {
  position:absolute;
  left: 60%;
  top: 7.5%;
  width: 3%;
  height: 6%;
}





p {
  color: white;
  font-family: sans-serif;
}

#gitdesktop {
  display:block;
  width:20%;
  height: 210px;
  margin-top:12%;
  margin-left: 2%;
}

#gitdesktop:hover {
	border-radius:25%;
}

#dmudesktop {
  display:block;
  position: absolute;
  left:22.8%;
  bottom:51%;
  top:209px;
  width:20%;
  height:210px;
}

#dmudesktop:hover {
	border-radius:25%;
}

#github {
  display: none;
}

#gitmain {
  display: block;
  position:absolute;
  width:19%;
  left:2.5%;
}

#gitaccount {
  display: block;
  position: absolute;
  left:-4%;
  text-decoration: underline;
}

#dmumain {
  display: block;
  position: absolute;
  width:19%;
  left: 23%;
}

#dmulink {
  display: block;
  position: absolute;
  text-decoration: underline;
  left: -4%;
}

#wordpress {
  display: block;
  position: absolute;
  width: 19%;
  top:27.2%;
}

#wordpress:hover {
	border-radius:25%;
}

#wordpressmaintxt {
	display: block;
	position: absolute;
	width: 90%;
	top:10%;

}

/*start of code for image overlay*/

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 2%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 20%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}





}
