body {
  background: linear-gradient(to right, #F4F4F4 0%,#F4F4F4 66.66%,#F4F4F4 66.66%,#373737 33.33%,#373737 66.66%);
}


#bannertext {
  font-size: 20px;
  margin-left: 15%;
  margin-top: 12%;
}

#banner {
  position:relative;
  width: 70%;
  top: 15%;
  left: 3%;
}

/*#menuburger {
  position: absolute;
  left:280px;
  width:100px;
  height:100px;
  padding: none;
}*/

#logo {
  position:absolute;
  width:15%;
  height:70px;
  left: 25%;
  top: 4%;
}

#menu {
  display: block;
  color: white;
  text-align: right;
  margin-right:5%;
}

nav {
  display: none;
  position:absolute;
  left: 60%;
}

nav a {
  display: block;
  color: white;
  padding:0.5em;
}

.show-menu {
  display: block;
}

li {
  display: block;
}

a {
  padding: 1.5em;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

#portrait {
  position: absolute;
  width:35%;
  height:25%;
  left:15%;
  top: 23%;
}

#maintext {
  position:absolute;
  width: 45%;
  height:35%;
  top:50%;
  left: 10%;
  overflow-y: auto;

}

#statement {
  width:100%
}

p {
  font-family: sans-serif;
}

#img1 {
  position: absolute;
  width: 23%;
  height: 100px;
  left: 71%;
  top: 40%;
}

#img2 {
  position: absolute;
  width: 23%;
  height: 100px;
  left: 71%;
  top: 60%;
}

#img3 {
  position: absolute;
  width: 23%;
  height: 100px;
  left: 71%;
  top: 80%;
}

#insta {
  position: absolute;
  width: 10%;
  height: 8%;
  left: 20%;
  top: 85%;
}

#facebook {
  position: absolute;
  width: 8%;
  height: 6%;
  left: 30%;
  top: 86%;
}









@media screen and (min-width: 1000px){

body {
  overflow-y: hidden;
}

#bannertext {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  margin-top: 8%;

}

#menu {
  display: none;
}

#maintext {
  position:absolute;
  width: 30%;
  height:20%;
}

/*nav {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 3em;
  /*margin-right: 3em;
}*/

#nav-menu {
  display: inline-block;
  margin-left: 12em;
  margin-top: 3em;
}

li {
  display: inline-block;
}

a {
  padding: 1.5em;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

#img1 {
  width:30%;
  height:39%;
  position: absolute;
  left: 1.7%;
  top: 21%;
}

#img2 {
  width:30%;
  height:78%;
  position: absolute;
  left: 33%;
  top: 21%;
}

#img3 {
  width:30%;
  height:37%;
  position:absolute;
  top: 62%;
  left: 1.7%;
}

#portrait {
  position: absolute;
  width: 23%;
  height: 50%;
  left: 72%;
  bottom: 20%;
}

#logo {
  width:8%;
  height:14%;
  position: absolute;
  top: 4%;
  left: 2%;
}

#insta {
  width: 5%;
  height: 9%;
  position: absolute;
  left: 55%;
  top: 6%;
}

#facebook {
  position:absolute;
  left: 60%;
  top: 7.5%;
  width: 3%;
  height: 6%;
}

#banner {
  position:absolute;
  left: 150px;
  top:-30px;
  width: 1000px;
}

#maintext {
  position: absolute;
  left:1075px;
  top:600px;
}

p {
  color: white;
  font-family: sans-serif;
}

}
